{% extends 'base.html.twig' %}

{% block title %}CardsFolder{% endblock %}

{% block body %}
{# SearchBar #}
    <section class="searchBar">
        <form method="get" action="">
            <div>
                <input type="text" name="name" placeholder="Rechercher">
            </div>
            <select name="context">
                <option value="name">Toutes les cartes</option>
                <option value="folders">mon Folder</option>
                <option value="wishes">ma WishList</option>
            </select>
            <button type="submit">Filtrer</button>
        </form>
    </section>

{# Cards #}
    <section class="cards">
        {% for card in toShow %}
            <div class="card-container">
                {% include "/main/card.html.twig" %} 
            </div>
        {% endfor %}
    </section>
{% endblock %}
