a {
    text-decoration: none;
    color: black;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    width: 100vw;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-direction: row;
    gap: .5em;
    border: 1px solid black;
    border-radius: 10px;
    padding: .2em;
    min-width: 10em;
    width: fit-content;
    height: 28em;
}

.card-main {
    max-width: 15em;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.card-content h5 {
    margin: 0;
    padding: 0;
}

.card-content h6 {
    margin: 0;
    padding: 0;
}

.card-image {
    object-fit: contain;
    width: 98%;
    margin: 0;
    padding: 0;
    max-width: 20em;
    max-height: 18em;
}

.card-buttons {
    display: flex;
    width: 100%;
    padding: 1em;
    justify-content: space-evenly;
}

.card-icon {
    width: 2em;
}

.miniatures {
    display: flex;
    gap: .5em;
    overflow: auto;
    width: 95%;
}

.miniature {
    width: 4em;
}

.miniature img {
    width: 4em;
}

.folder-add {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-fallback {
    border-radius: 10px;
}

.card-more {
    width: 30em;
    display: flex ;
    transition: all .1s ease-in-out;
    overflow: hidden;
    gap: 1em;
}

.matches {
    width: 20em;
    border: 1px solid black;
    padding: .5em;
    border-radius: 10px;

}

.exchange {
    overflow-x: auto;
    overflow-y: hidden;
}

.my-folder {
    width: 10em;
    border: 1px solid black;
    padding: .5em;
    border-radius: 10px;
}

.my-cards {
    height: 85%;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
}

.card-miniature {
    border: 1px solid rgb(212, 210, 210);
    padding: 0 .5em;
    border-radius: 10px;
    margin: .5em 0;
}

.mini-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-flex {
    display: flex;
    align-items: center;
    gap: .5em;
    overflow-x: auto;
}

.mini-text {
    font-size: small;
}

.spec {
    display: flex;
    gap: .3em;
    font-stretch: condensed;
}

.each-card {
    width: 98%;
    display: flex;
    gap: .3em;
    flex-wrap: wrap;
}

.hover {
    cursor: pointer;
}